*,
::before,
::after {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  text-align: center;
}

.App {
  margin-top: 10vh;
}

nav {
  margin: 5vh 0;
}

a {
  margin-right: 2%;
  font-weight: bold;
}

.activeLink {
  color: rgb(247, 3, 145);
}

ul {
  list-style-type: none;
}
