*,
::before,
::after {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  text-align: center;
  transition: color 0.4s ease-in-out;
  background-color: 0.4s ease-in-out;
}

.App {
  margin-top: 10vh;
  
}

nav {
  margin: 5vh 0;
}

a {
  margin-right: 2%;
  font-weight: bold;
}

.activeLink {
  color: rgb(247, 3, 145);
}

ul {
  list-style-type: none;
}

.dark-body {
  background-color: #222;
  color: #f1f1f1;
}
